VITE_API_BASE_URL=https://interdiscount.swiftapp.ch/api/v1
VITE_APP_NAME=Interdiscount
VITE_APP_VERSION=1.0.0
VITE_DEFAULT_LANGUAGE=de
VITE_SUPPORTED_LANGUAGES=de,en,fr,it
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_YOUR_STRIPE_PUBLISHABLE_KEY
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_ENABLE_DEV_TOOLS=false
